workflows/mantener_whatsapp_activo.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T20:04:49.992Z",
  "id": "Mouz75zt0I1kEVA6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "mantener_whatsapp_activo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -208
      ],
      "id": "02f637a9-e0ce-4d55-9200-c5b128be6f18",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "phoneNumberId": "810851532108753",
        "recipientPhoneNumber": "+5493544641683",
        "template": "activar_cuenta|es_AR"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        320,
        -128
      ],
      "id": "22b86729-71f8-4808-89be-fe6351020b42",
      "name": "Send template",
      "webhookId": "774e1cff-ef4f-497c-a9c1-1839c71aad76",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado_whatsapp",
        "key": "ultimo_mensaje_whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -144,
        -208
      ],
      "id": "cebdc6fb-5693-4b04-ade8-b56236d8b669",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e76878d5-50e4-4903-9cb2-3f7cb5b3ea54",
              "leftValue": "={{ $json.estado_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -208
      ],
      "id": "83167414-a0a0-4efc-9ccd-a132c5a5bc87",
      "name": "If"
    }
  ],
  "pinData": {},
  "repo_name": "Sistema_de_gestion_central_notion_n8n",
  "repo_owner": "Tomybau",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-15T20:04:49.992Z",
      "updatedAt": "2025-10-15T20:04:49.992Z",
      "role": "workflow:owner",
      "workflowId": "Mouz75zt0I1kEVA6",
      "projectId": "5ieVStNAHt1Bb6Tr"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-10-15T23:16:12.194Z",
      "updatedAt": "2025-10-15T23:16:12.194Z",
      "id": "NHMeAPMIT8hmJz47",
      "name": "Notion"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-17T21:34:24.856Z",
  "versionId": "89375ef4-a923-4621-b49e-75ad14873da4"
}