workflows/Notion-Chatbot.json
{
  "active": false,
  "connections": {
    "divisor": {
      "main": [
        [
          {
            "node": "Download media1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "whatsapp_texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp_texto": {
      "main": [
        [
          {
            "node": "chat_imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrado_datos": {
      "main": [
        [
          {
            "node": "divisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trasncripcion": {
      "main": [
        [
          {
            "node": "audio_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio_content": {
      "main": [
        [
          {
            "node": "chat_imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "describe_image": {
      "main": [
        [
          {
            "node": "image_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image_content": {
      "main": [
        [
          {
            "node": "chat_imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat_imput": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "redis_a_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "determinar_empresa": {
      "main": [
        [
          {
            "node": "mensaje_whatsapp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_nota": {
      "main": [
        [
          {
            "node": "eliminar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_tarea": {
      "main": [
        [
          {
            "node": "eliminar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_idea": {
      "main": [
        [
          {
            "node": "eliminar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "solicitar_fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "determinar_formato": {
      "main": [
        [
          {
            "node": "mensaje_whatsapp?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_a_JSON": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje_whatsapp?": {
      "main": [
        [],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "crear_nota",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear_idea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear_tarea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fecha_evento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumir_registro": {
      "main": [
        [
          {
            "node": "determinar_empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "redis_a_JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_a_JSON1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "trasncripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "describe_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar": {
      "main": [
        [
          {
            "node": "todo_correcto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "filtrado_datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Notion_Recordatorios'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "eliminar3": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "eliminar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "determinar_formato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "determinar_empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje_whatsapp?1": {
      "main": [
        [],
        [
          {
            "node": "Resumir_registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "determinar_formato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fecha_evento?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendar_evento_dia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agendar_evento_rango": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T20:29:15.834Z",
  "id": "0VvaCW7B5SRC0mDW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Notion-Chatbot",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messege.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc9754d7-eedf-4ce9-873c-095bfd48232d",
                    "leftValue": "={{ $json.messege.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4b8644f-fb40-47bf-bff6-798fe48eb9cf",
                    "leftValue": "={{ $json.messege.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "other"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -624,
        -320
      ],
      "id": "832078b3-d730-4d17-8e6b-b8d20b6fe540",
      "name": "divisor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dabe6a29-f026-405c-8afd-c354ad2853cc",
              "name": "content",
              "value": "={{ $('filtrado_datos').item.json.messege.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -304
      ],
      "id": "f5f5a361-a301-4f51-9aaa-d077d0c097d1",
      "name": "whatsapp_texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d8828bc-390a-4a92-8d42-462600d32e06",
              "name": "message.message_id",
              "value": "={{ $json.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "add4a901-dc3a-4ffb-b07f-e88e375852d2",
              "name": "messege.chat_id",
              "value": "={{ $json.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "9940cbe6-e66b-4162-8714-7e42645fc436",
              "name": "messege.content_type",
              "value": "={{ $json.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "6fad450c-fda0-465f-a547-3b7a981905f3",
              "name": "messege.content",
              "value": "={{ $json.messages[0].text.body}}",
              "type": "string"
            },
            {
              "id": "5e3dc63d-74d6-4f2f-8ba2-2dd038748bbb",
              "name": "messege.timestamp",
              "value": "={{ $json.messages[0].timestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "06a11b10-d2c6-45c0-82a9-c00e5fa737d0",
              "name": "user.name",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -288
      ],
      "id": "271d5a63-6190-474d-a38b-13b119f9ca3e",
      "name": "filtrado_datos"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -16,
        -144
      ],
      "id": "bcd967d7-ce3b-42ec-b22f-9899b1b4596f",
      "name": "trasncripcion",
      "credentials": {
        "openAiApi": {
          "id": "fDpifv2qqDic1ocl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2183e39a-454d-4c71-9b45-540bb28dec93",
              "name": "content",
              "value": "=<audio>\n{{ $json.text }}\n</audio>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -144
      ],
      "id": "59702405-525b-4a35-9bc9-39b1f02d0e1d",
      "name": "audio_content"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Describe la imagen, nunca utilices comillas para marcar datos importantes, en su lugar solo pongo en mayoscula",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -16,
        -464
      ],
      "id": "72a2bcbb-9fcb-4418-9660-5aa0f46a7b30",
      "name": "describe_image",
      "credentials": {
        "openAiApi": {
          "id": "fDpifv2qqDic1ocl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2183e39a-454d-4c71-9b45-540bb28dec93",
              "name": "content",
              "value": "=<image>\n{{ $json.content }}\n</image>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -464
      ],
      "id": "3ed604a7-9828-4dc5-873d-44a59c191c69",
      "name": "image_content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa721d86-e064-40ab-a9bf-f3ea7dd0b54f",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -304
      ],
      "id": "a94cd9de-7dfe-4c33-9ee2-c3a6bcb02b22",
      "name": "chat_imput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado",
        "key": "={{ $('filtrado_datos').item.json.messege.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        576,
        -304
      ],
      "id": "2d8f4555-7d77-4ca2-9467-568446293cb1",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "kdoKOKKR8HaWbTwK",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tratado datos entrada\n\n",
        "height": 576,
        "width": 2176,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        -512
      ],
      "typeVersion": 1,
      "id": "364de188-9b93-4b49-b5e9-8fdc4834f8ce",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSm2pgcHQUO60vua",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSm2pgcHQUO60vua",
          "cachedResultName": "Sub-Determinar_Empresa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $('chat_imput').first().json.content }}",
            "chat_id": "={{ $('filtrado_datos').first().json.messege.chat_id }}",
            "wa_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "wa_id",
              "displayName": "wa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1680,
        -288
      ],
      "id": "3f536dd1-a617-4d02-998a-7671d58d69db",
      "name": "determinar_empresa"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sXHiDmFQ3LXFv5si",
          "mode": "list",
          "cachedResultUrl": "/workflow/sXHiDmFQ3LXFv5si",
          "cachedResultName": "Sub-Determinar_formato"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('filtrado_datos').item.json.messege.chat_id }}",
            "input": "={{ $('chat_imput').item.json.content }}",
            "wa_id": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "wa_id",
              "displayName": "wa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        -528
      ],
      "id": "482d6fa5-ab75-4369-a6e8-3da5d6956e55",
      "name": "determinar_formato"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27e272c9-f6ae-8040-9ef1-e15463d1e2ef",
          "mode": "list",
          "cachedResultName": "Notas",
          "cachedResultUrl": "https://www.notion.so/27e272c9f6ae80409ef1e15463d1e2ef"
        },
        "title": "={{ $json.Agente[0].Titulo }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Empresas/Proyectos|relation",
              "relationValue": [
                "={{ $json.Empresa[0].id }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.Agente[0].Titulo }}"
            },
            {
              "textContent": "=\n{{ $json.Agente[0][\"Descripción\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2752,
        -656
      ],
      "id": "9fb4717b-9126-4000-b3ec-cf25326fd2b3",
      "name": "crear_nota",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      },
      "notes": "Conexión:\nDB: Notas\n"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27d272c9-f6ae-80a8-9e6b-d6d1c3c625a4",
          "mode": "list",
          "cachedResultName": "Tareas",
          "cachedResultUrl": "https://www.notion.so/27d272c9f6ae80a89e6bd6d1c3c625a4"
        },
        "title": "={{ $json.Agente[0].Titulo }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Prioridad|select",
              "selectValue": "={{ $json.prioridad || \"Baja\"}}"
            },
            {
              "key": "Fecha |date",
              "date": "={{ $json.Agente[0].Fecha }}",
              "timezone": "America/Argentina/Cordoba"
            },
            {
              "key": "Responsable|people",
              "peopleValue": [
                "208d872b-594c-81d3-ba96-00022f5f699c"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.Agente[0].Titulo }}"
            },
            {
              "textContent": "=\n{{ $json.Agente[0]['Descripción'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2752,
        -304
      ],
      "id": "f69703f9-1f44-4e84-9254-3c5c7ad2b4ed",
      "name": "crear_tarea",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('filtrado_datos').first().json.messege.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2960,
        -480
      ],
      "id": "1df64c67-8e0c-44b5-90b2-f7ddeb63227f",
      "name": "eliminar",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "279272c9-f6ae-8011-951d-db101d08b619",
          "mode": "list",
          "cachedResultName": "Ideas ",
          "cachedResultUrl": "https://www.notion.so/279272c9f6ae8011951ddb101d08b619"
        },
        "title": "={{ $json.Agente[0].Titulo }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Empresas/Proyectos|relation",
              "relationValue": [
                "={{ $json.Empresa[0].id }}"
              ]
            },
            {
              "key": "Persona|people",
              "peopleValue": [
                "208d872b-594c-81d3-ba96-00022f5f699c"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.Agente[0].Titulo }}"
            },
            {
              "textContent": "=\n{{ $json.Agente[0]['Descripción'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2752,
        -480
      ],
      "id": "67e27cfe-eea0-410a-93c1-5e868bf92425",
      "name": "crear_idea",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('filtrado_datos').first().json.messege.chat_id }}",
        "value": "={\n  \"Estado\": \"falta_fecha\",\n  \"Entradas\": [\n    {\n      \"Entrada_inicial\": \"{{ $('Switch1').item.json.Entradas[0].Entrada_inicial }}\",\n      \"Entrada_registro\": \"{{ $('Switch1').item.json.Entradas[0].Entrada_registro }}\",\n      \"Entrada_empresa\": \"{{ $('Switch1').item.json.Entradas[0].Entrada_empresa }}\"\n    }\n  ],\n  \"Empresa\": [\n    {\n      \"id\": \"{{ $('Switch1').item.json.Empresa[0].id }}\",\n      \"Nombre\": \"{{ $('Switch1').item.json.Empresa[0].Nombre }}\",\n      \"Confianza_empresa\": {{ $('Switch1').item.json.Empresa[0].Confianza_empresa }}\n    }\n  ],\n  \"Registro\": [\n    {\n      \"Nombre\": \"{{ $('Switch1').item.json.Registro[0].Nombre }}\",\n      \"Confianza_registro\": {{ $('Switch1').item.json.Registro[0].Confianza_registro }}\n    }\n  ],\n  \"Agente\": [\n    {\n      \"Titulo\": \"{{ $('Switch1').item.json.Agente[0].Titulo }}\",\n      \"Descripcion\": \"{{ $('Switch1').item.json.Agente[0]['Descripción']}}\",\n      \"Fecha\": \"{{ $json.Agente[0].Fecha }}\",\n      \"Fecha_inicio\": \"{{ $json.Agente[0].Fecha_inicio }}\",\n      \"Fecha_fin\": \"{{ $json.Agente[0].Fecha_fin }}\",\n      \"Departamento\": \"{{ $json.Agente[0].Departamento }}\",\n      \"Prioridad\": \"{{ $json.Agente[0].Prioridad }}\"\n    }\n  ]\n}",
        "expire": true,
        "ttl": 600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2896,
        240
      ],
      "id": "989363c3-cf56-4e7d-a00f-bf35fc436c58",
      "name": "Redis7",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawData = $('Redis').first().json.estado;\nlet data;\n\n// 🧹 Limpieza y manejo de nulos\nif (!rawData) {\n  // Si viene null o vacía, devolvemos estructura base por defecto\n  data = {\n    Estado: \"iniciando\",\n    Entradas: [\n      {\n        Entrada_inicial: \"\",\n        Entrada_registro: \"\",\n        Entrada_empresa: \"\"\n      }\n    ],\n    Empresa: [\n      {\n        Nombre: \"\",\n        Confianza_empresa: 0\n      }\n    ],\n    Registro: [\n      {\n        Nombre: \"\",\n        Confianza_registro: 0\n      }\n    ],\n    Agente: [\n      {\n        Titulo: \"\",\n        Descripción: \"\",\n        Fecha: \"\",\n        Departamento: \"\",\n        Prioridad: \"\"\n      }\n    ]\n  };\n\n} else {\n  // 🧼 Limpieza de caracteres problemáticos\n  let cleaned = rawData\n    .replace(/\\n|\\r|\\t/g, ' ')        // elimina saltos, tabs y retornos\n    .replace(/\\\\n|\\\\r|\\\\t/g, ' ')     // elimina versiones escapadas\n    .replace(/“|”/g, '\"')             // cambia comillas curvas\n    .replace(/'/g, '\"')               // reemplaza comillas simples por dobles\n    .replace(/\\s+/g, ' ')             // compacta espacios\n    .trim();\n\n  try {\n    data = JSON.parse(cleaned);\n  } catch (e) {\n    // 🧩 fallback: intenta corregir claves sin comillas\n    const fixed = cleaned.replace(/([{,]\\s*)([A-Za-z0-9_]+)(\\s*:\\s*)/g, '$1\"$2\"$3');\n    try {\n      data = JSON.parse(fixed);\n    } catch (err) {\n      data = { error: 'No se pudo parsear el JSON', detalle: err.message, texto_original: rawData };\n    }\n  }\n}\n\n// 🪄 Agregar el campo extra desde el nodo Webhook\ntry {\n  const Entrada_registro = $('Webhook').first().json.body.data.message.conversation;\n  data.Entradas = data.Entradas || [{}];\n  data.Entradas[0].Entrada_registro = Entrada_registro || \"\";\n} catch (e) {\n  if (!data.Entradas) data.Entradas = [{}];\n  data.Entradas[0].Entrada_registro = \"\";\n}\n\nreturn data;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -304
      ],
      "id": "cf50eb50-07b4-4f99-b843-710360b19821",
      "name": "redis_a_JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6e33955-32ce-46fe-b8d1-96eb9fc755aa",
              "leftValue": "={{ $json.messaging_product }}",
              "rightValue": 0.6,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        -288
      ],
      "id": "771dc388-4601-4da1-8dc5-b3e03af175aa",
      "name": "mensaje_whatsapp?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Registro[0].Nombre }}",
                    "rightValue": "ota",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "6d88a247-ab5d-44f1-9573-39579fa47365"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e46e2c02-59ec-4725-b645-8ebf7b5d6df5",
                    "leftValue": "={{ $json.Registro[0].Nombre }}",
                    "rightValue": "dea",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7e5afce-8f06-41f3-959f-512f56703cec",
                    "leftValue": "={{ $json.Registro[0].Nombre }}",
                    "rightValue": "area",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f86e9200-6b68-4a6f-a8c3-807d71707121",
                    "leftValue": "={{ $json.Registro[0].Nombre }}",
                    "rightValue": "vento",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2496,
        -304
      ],
      "id": "6f6fca2b-4109-4ae4-8abd-6271cb74d298",
      "name": "Switch1"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "read"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -272
      ],
      "id": "000951e5-08c3-41a0-900c-d262f8adebe1",
      "name": "WhatsApp Trigger",
      "webhookId": "ae37ca39-c7d9-4f18-9a95-d59f335542f1",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "mr8DkP9gFmWMpQop",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sDZn8KVP4u4amYnY",
          "mode": "list",
          "cachedResultUrl": "/workflow/sDZn8KVP4u4amYnY",
          "cachedResultName": "Sub-Resumir_registro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('filtrado_datos').item.json.messege.chat_id }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1680,
        -512
      ],
      "id": "5dd71af0-97fe-46a4-8610-22d869d608e8",
      "name": "Resumir_registro"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "={{ $('filtrado_datos').first().json.messege.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2112,
        -272
      ],
      "id": "872cc5b9-9c80-4151-887d-4051a126ff18",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Redis1').first().json.data;\nlet data;\n\n// 🧹 Limpieza de caracteres problemáticos\nlet cleaned = raw\n  .replace(/\\n|\\r|\\t/g, ' ')        // elimina saltos, tabs y retornos\n  .replace(/\\\\n|\\\\r|\\\\t/g, ' ')     // elimina versiones escapadas         / \n  .replace(/\\s+/g, ' ')             // compacta espacios\n  .trim();\n\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  // 🧩 fallback: intenta corregir manualmente si sigue fallando\n  const fixed = cleaned.replace(/([{,]\\s*)([A-Za-z0-9_]+)(\\s*:\\s*)/g, '$1\"$2\"$3');\n  try {\n    data = JSON.parse(fixed);\n  } catch (err) {\n    data = { error: 'No se pudo parsear el JSON', detalle: err.message, texto_original: raw };\n  }\n  \n}\n\n// 🪄 Agregar el campo extra desde el nodo Webhook\ntry {\n  const Entrada_registro = $('Webhook').first().json.body.data.message.conversation;\n  data.Entrada_registro = Entrada_registro;\n} catch (e) {\n  data.Entrada_registro = null; // fallback si el campo no existe\n}\n\nreturn data;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -272
      ],
      "id": "b050536d-bea7-49d3-8f17-294f8279e8f6",
      "name": "redis_a_JSON1"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -400,
        -144
      ],
      "id": "be203524-d3e4-497a-9335-52f44c6eece9",
      "name": "Download media",
      "webhookId": "c11043a8-a0ea-46d9-a0f1-3727c93eddc5",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        -144
      ],
      "id": "65e4aad7-b0a8-48cc-8906-f247af4c22fc",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -400,
        -464
      ],
      "id": "6c895c61-2fa4-497e-a12d-45f163beae53",
      "name": "Download media1",
      "webhookId": "c11043a8-a0ea-46d9-a0f1-3727c93eddc5",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -464
      ],
      "id": "db795dd7-e059-4234-80b6-57ba47f25aad",
      "name": "HTTP Request1",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "810851532108753",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "=Listo! La nueva {{ $('Switch1').item.json.Registro[0].Nombre }} de {{ $('Switch1').item.json.Empresa[0].Nombre }}, \"{{ $('Switch1').item.json.Agente[0].Titulo }}\" fue creada exitosamente!\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3120,
        -480
      ],
      "id": "12364977-552e-4ff5-8b38-0045f3566f08",
      "name": "todo_correcto",
      "webhookId": "cfe8ca01-d40b-457d-ae0e-2cdbd406d588",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95d411cc-dbb1-4f23-be4e-c94b4e9f5274",
              "leftValue": "={{ $json.messages[0].button.text }}",
              "rightValue": "=Si",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        -272
      ],
      "id": "558198b4-553b-4ab3-b5f5-abcfe782ed89",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "ultimo_mensaje_whatsapp",
        "value": "={{ $json.messages[0].timestamp }}",
        "expire": true,
        "ttl": 86390
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1232,
        -272
      ],
      "id": "d8058f12-63a3-4fc5-8fcd-5ff274ee4988",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('filtrado_datos').first().json.messege.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3248,
        -112
      ],
      "id": "204fc278-8bc6-47ae-93d2-efef63c82208",
      "name": "eliminar3",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2896,
        64
      ],
      "id": "7db943cf-56db-4f7d-af34-0ce0e43ad18b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fDpifv2qqDic1ocl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "810851532108753",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3456,
        -112
      ],
      "id": "2aeaf5d6-6726-4199-a270-a18d5845b1d8",
      "name": "Send message",
      "webhookId": "b9169c1d-58a2-4616-b2b5-462242a5858c",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TJ93FGKAbl35UnfS",
          "mode": "list",
          "cachedResultUrl": "/workflow/TJ93FGKAbl35UnfS",
          "cachedResultName": "Sub-Recordatorios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "wa_id": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "wa_id",
              "displayName": "wa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -848,
        -112
      ],
      "id": "a734345e-7c9b-4dd8-b1e6-9aa01ec7464b",
      "name": "Call 'Notion_Recordatorios'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Datos obtenidos por el agente:\n\nTitulo del evento: {{ $json.Agente[0].Titulo }}\nDescripcion: {{ $json.Agente[0].Descripcion }}\nFecha: {{ $json.Agente[0].Fecha }}\nFecha de inicio: {{ $json.Agente[0].Fecha_inicio }}\nFecha de fin: {{ $json.Agente[0].Fecha_fin }}\nFecha el ususario solicito: {{ $json.Entradas[0].Entrada_fecha }}\nFecha ahora mismo: {{ $now }}",
        "options": {
          "systemMessage": "=Eres un asistente que ayuda a agendar eventos en Notion\n\nUn agente anterior te enviara todos los datos que recopile de la petición y tu deberas agendar el evento en la herramienta correspondiente\n\n- Si solo es una fecha especifica, un dia especifico agenda en : \"agendar_evento_dia\"\n- Si el evento viene con horario de inicio y fin, o un rango de fecha para el evento agendalo en \"agendar_evento_dia\"\n\nSiempre debes usar *UNA SOLA HERRAMIENTA* y usarla *UNA SOLA VEZ*\n\nDevuelve unicamente la actividad agendada en la fecha agefndada, no devuelvas preguntas\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2912,
        -112
      ],
      "id": "b6365dc0-f745-44d7-b8e2-b3012c0e8b29",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "iniciando",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d0c25f81-81d2-4473-90c2-1cfe677f085d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "primera_iteracion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d308c2e-3206-455d-bb0b-dc98fdbd3440",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "falta_formato",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "falta_formato"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "903b2f93-742c-4383-a41a-c5862ce1b5ec",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "falta_empresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "falta_empresa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53684461-2af3-4e3b-834a-28e77d7d88c5",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "falta_fecha",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "falta_fecha"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        912,
        -336
      ],
      "id": "df39e883-8864-42f6-bb18-a2bde39020e2",
      "name": "Switch3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6e33955-32ce-46fe-b8d1-96eb9fc755aa",
              "leftValue": "={{ $json.messaging_product }}",
              "rightValue": 0.6,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -528
      ],
      "id": "b4f90120-9ca6-4fe4-ab8c-688739ce5081",
      "name": "mensaje_whatsapp?1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('filtrado_datos').item.json.messege.chat_id }}",
        "value": "={\n    \"Estado\": \"iniciando\",\n    \"Entradas\": [\n      {\n        \"Entrada_inicial\": \"{{ $('chat_imput').item.json.content }}\",\n        \"Entrada_registro\": \"\",\n        \"Entrada_empresa\": \"\"\n      }\n    ],\n    \"Empresa\": [\n      {\n        \"id\": \"\",\n        \"Nombre\": \"\",\n        \"Confianza_empresa\": 0\n      }\n    ],\n    \"Registro\": [\n      {\n        \"Nombre\": \"\",\n        \"Confianza_registro\": 0\n      }\n    ],\n    \"Agente\": [\n      {\n        \"Titulo\": \"\",\n        \"Descripción\": \"\",\n        \"Fecha\": \"\",\n        \"Fecha_inicio\": \"\",\n        \"Fecha_fin\": \"\",\n        \"Departamento\": \"\",\n        \"Prioridad\": \"\"\n      }\n    ]\n}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1056,
        -656
      ],
      "id": "8c25d716-7d2a-409d-89dd-5923168fd9e4",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "810851532108753",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "=Por ultimo para que fecha seria este evento?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3088,
        240
      ],
      "id": "f0727fef-d6d9-4935-aa79-ed1668b57175",
      "name": "solicitar_fecha",
      "webhookId": "cfe8ca01-d40b-457d-ae0e-2cdbd406d588",
      "credentials": {
        "whatsAppApi": {
          "id": "pV4vxi8821Z8UsSL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17afa862-ce73-4a21-8fad-90e5d7a45c2b",
              "leftValue": "={{ $json.Agente[0].Fecha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "83442769-80b3-4886-8fc8-6402e96e2e10",
              "leftValue": "={{ $json.Agente[0].Fecha_inicio }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "16080476-bac7-4b68-b3f8-ed5356817993",
              "leftValue": "={{ $json.Agente[0].Fecha_fin }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "830d3470-6868-4ace-8eab-72d66106d5c3",
              "leftValue": "={{ $json.Entradas[0].Entrada_fecha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        48
      ],
      "id": "d3bf0b9d-bae0-4c0c-96a2-f11e13b6e767",
      "name": "fecha_evento?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('filtrado_datos').item.json.messege.chat_id }}",
        "value": "={\n  \"Estado\": \"falta_fecha\",\n  \"Entradas\": [\n    {\n      \"Entrada_inicial\": \"{{ $json.Entradas[0].Entrada_inicial }}\",\n      \"Entrada_registro\": \"{{ $json.Entradas[0].Entrada_registro }}\",\n      \"Entrada_empresa\": \"{{ $json.Entradas[0].Entrada_empresa }}\",\n      \"Entrada_fecha\": \"{{ $('chat_imput').item.json.content }}\"\n    }\n  ],\n  \"Empresa\": [\n    {\n      \"id\": \"{{ $json.Empresa[0].id }}\",\n      \"Nombre\": \"{{ $json.Empresa[0].Nombre }}\",\n      \"Confianza_empresa\": {{ $json.Empresa[0].Confianza_empresa }}\n    }\n  ],\n  \"Registro\": [\n    {\n      \"Nombre\": \"{{ $json.Registro[0].Nombre }}\",\n      \"Confianza_registro\": {{ $json.Registro[0].Confianza_registro }}\n    }\n  ],\n  \"Agente\": [\n    {\n      \"Titulo\": \"{{ $json.Agente[0].Titulo }}\",\n      \"Descripcion\": \"{{ $json.Agente[0].Descripcion }}\",\n      \"Fecha\": \"{{ $json.Agente[0].Fecha }}\",\n      \"Fecha_inicio\": \"{{ $json.Agente[0].Fecha_inicio }}\",\n      \"Fecha_fin\": \"{{ $json.Agente[0].Fecha_fin }}\",\n      \"Departamento\": \"{{ $json.Agente[0].Departamento }}\",\n      \"Prioridad\": \"{{ $json.Agente[0].Prioridad }}\"\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        -128
      ],
      "id": "c2ba139b-d8ab-4525-8dac-2480accc3d58",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "FCP6hT01xV80XIPs",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "284272c9-f6ae-8094-a1b7-e7d7a5c5f275",
          "mode": "list",
          "cachedResultName": "Eventos",
          "cachedResultUrl": "https://www.notion.so/284272c9f6ae8094a1b7e7d7a5c5f275"
        },
        "title": "={{ $('fecha_evento?').item.json.Agente[0].Titulo }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Empresas/Proyectos|relation",
              "relationValue": [
                "={{ $('fecha_evento?').item.json.Empresa[0].id }}"
              ]
            },
            {
              "key": "Fecha del Evento|date",
              "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Include_Time', ``, 'boolean') }}",
              "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Date', ``, 'string') }}"
            },
            {
              "key": "Persona|people",
              "peopleValue": [
                "208d872b-594c-81d3-ba96-00022f5f699c"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $('fecha_evento?').item.json.Agente[0].Titulo }}"
            },
            {
              "textContent": "=\n{{ $('fecha_evento?').item.json.Agente[0].Descripcion || \"\"}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        3056,
        64
      ],
      "id": "04a4b8ea-1b8e-4df2-9971-d954344dffca",
      "name": "agendar_evento_dia",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "284272c9-f6ae-8094-a1b7-e7d7a5c5f275",
          "mode": "list",
          "cachedResultName": "Eventos",
          "cachedResultUrl": "https://www.notion.so/284272c9f6ae8094a1b7e7d7a5c5f275"
        },
        "title": "={{ $('fecha_evento?').item.json.Agente[0].Titulo }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Empresas/Proyectos|relation",
              "relationValue": [
                "={{ $('fecha_evento?').item.json.Empresa[0].id }}"
              ]
            },
            {
              "key": "Fecha del Evento|date",
              "range": true,
              "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Include_Time', ``, 'boolean') }}",
              "dateStart": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Date_Start', ``, 'string') }}",
              "dateEnd": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Date_End', ``, 'string') }}"
            },
            {
              "key": "Persona|people",
              "peopleValue": [
                "208d872b-594c-81d3-ba96-00022f5f699c"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $('fecha_evento?').item.json.Agente[0].Titulo }}"
            },
            {
              "textContent": "=\n{{ $('fecha_evento?').item.json.Agente[0].Descripcion || \"\"}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        3232,
        64
      ],
      "id": "f41a7cf6-e8c8-4a37-bfd3-b19c26064885",
      "name": "agendar_evento_rango",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "- En los nodos de niotion de crear se debe cambiar la persona asignada"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        -1296
      ],
      "typeVersion": 1,
      "id": "15c28491-cf16-4226-9e94-d6b47ca76f87",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58a19289-1f71-4da8-95bd-ca941bffc57e",
              "leftValue": "={{ $json.contacts[0].wa_id }}",
              "rightValue": "5493544641683",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        -272
      ],
      "id": "179fde71-1657-42c4-82bd-e59a74f7c0fb",
      "name": "If1"
    }
  ],
  "pinData": {},
  "repo_name": "Sistema_de_gestion_central_notion_n8n",
  "repo_owner": "Tomybau",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-06T20:29:15.834Z",
      "updatedAt": "2025-10-06T20:29:15.834Z",
      "role": "workflow:owner",
      "workflowId": "0VvaCW7B5SRC0mDW",
      "projectId": "5ieVStNAHt1Bb6Tr"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-15T23:16:12.194Z",
      "updatedAt": "2025-10-15T23:16:12.194Z",
      "id": "NHMeAPMIT8hmJz47",
      "name": "Notion"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-05T16:24:30.650Z",
  "versionId": "7cd9dc36-c1dc-4faf-a841-89f275e2b8e3"
}