workflows/Notion - Correos.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "obtener_paginas",
            "type": "main",
            "index": 0
          },
          {
            "node": "obtener_correos",
            "type": "main",
            "index": 0
          },
          {
            "node": "obtener_correos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "obtener_correos2",
            "type": "main",
            "index": 0
          },
          {
            "node": "obtener_correos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrado_datos": {
      "main": [
        [
          {
            "node": "simplificado_mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_correos": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "simplificado_mensajes": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_paginas": {
      "main": [
        [
          {
            "node": "pagina_lista?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagina_lista?": {
      "main": [
        [
          {
            "node": "Archive page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_correos2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "obtener_correos1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "filtrado_datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "crear_pagina_SmartBot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear_pagina_Amapola",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear_pagina_Mobixx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear_pagina_notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_correos3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_pagina_notion": {
      "main": [
        [
          {
            "node": "eliminar_<Notion>   ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_pagina_SmartBot": {
      "main": [
        [
          {
            "node": "eliminar_<Notion>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_pagina_Amapola": {
      "main": [
        [
          {
            "node": "eliminar_<Notion> ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_pagina_Mobixx": {
      "main": [
        [
          {
            "node": "eliminar_<Notion>  ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_<Notion>": {
      "main": [
        [
          {
            "node": "añadir<Listo_Notion>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_<Notion> ": {
      "main": [
        [
          {
            "node": "añadir<Listo_Notion>   ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_<Notion>  ": {
      "main": [
        [
          {
            "node": "añadir<Listo_Notion>  ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_<Notion>   ": {
      "main": [
        [
          {
            "node": "añadir<Listo_Notion> ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-01T14:50:30.391Z",
  "id": "tTbeL14v2yeIalL2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Notion - Correos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        720
      ],
      "id": "b5645920-186c-42c7-9b9a-8cf06958d940",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3956e998-87e6-4573-ac57-e02704f20360",
              "name": "message.id",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "3f48d2dd-2d00-486a-886d-4e77c2ca77d1",
              "name": "message.title",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "6d3e11b6-8f11-4d93-957f-f7b201f7ed89",
              "name": "message.body",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "f71cedbc-33ff-4f32-b305-a39ce5bdde6c",
              "name": "message.date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "f4ba8eb3-8604-440f-8ee9-637d0fad6665",
              "name": "from.name",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "130c8e4f-8d59-44f3-976a-37815c69eac8",
              "name": "from.address",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "567ae459-3c1d-45e1-bb01-5f514cb8353b",
              "name": "from.origen",
              "value": "={{ $json.to.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        224
      ],
      "id": "17bb4358-f572-45d8-a285-e5224d613b17",
      "name": "filtrado_datos"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_1272555718175178806"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        480
      ],
      "id": "5cb2c6c7-bdc0-490e-90f1-23426d42ffdd",
      "name": "obtener_correos",
      "webhookId": "30b46c86-bd50-4c2c-acc3-e68c8d3a1d63",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      },
      "notes": "etiqueta <Notion>"
    },
    {
      "parameters": {
        "jsCode": "// 🔹 CONFIGURACIÓN\nconst palabrasPorBloque = 300; // Cantidad de palabras por bloque\n\n// 🔹 PROCESAMIENTO\nconst resultados = [];\n\nfor (const item of items) {\n  const body = item.json.message?.body || '';\n\n  // 🧽 Limpieza del texto\n  const cuerpoLimpio = body\n    .replace(/\\\\n/g, '\\n')           // Convierte \"\\n\" literales en saltos reales\n    .replace(/<[^>]*>/g, '')         // Quita etiquetas HTML\n    .replace(/\\s{2,}/g, ' ')         // Espacios extra\n    .replace(/\\( ?https?:\\/\\/[^\\)]+\\)/g, '') // URLs entre paréntesis\n    .replace(/\\\\\"/g, '\"')            // Corrige comillas escapadas\n    .replace(/&nbsp;/g, ' ')         // Entidades HTML\n    .replace(/&amp;/g, '&')\n    .trim();\n\n  // ✂️ Divide el texto en bloques de palabras\n  const palabras = cuerpoLimpio.split(/\\s+/);\n  const bloques = [];\n\n  for (let i = 0; i < palabras.length; i += palabrasPorBloque) {\n    const bloqueTexto = palabras.slice(i, i + palabrasPorBloque).join(' ').trim();\n    bloques.push({\n      Numero: Math.floor(i / palabrasPorBloque) + 1,\n      texto: bloqueTexto\n    });\n  }\n\n  // 🔹 Armamos un único objeto con la info + los bloques\n  resultados.push({\n    json: {\n      id: item.json.message?.id,\n      title: item.json.message?.title,\n      from: item.json.from,\n      date: item.json.message?.date,\n      bloques\n    }\n  });\n}\n\n// 🔹 Devuelve un item por mensaje, con bloques adentro\nreturn resultados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        224
      ],
      "id": "004bc985-8626-444b-8222-8e868632017f",
      "name": "simplificado_mensajes"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "27f272c9-f6ae-80d7-868c-e8dfdec44b25",
          "mode": "list",
          "cachedResultName": "Correos Electronicos",
          "cachedResultUrl": "https://www.notion.so/27f272c9f6ae80d7868ce8dfdec44b25"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -16,
        864
      ],
      "id": "9211caf4-ecb3-492a-9c34-f10705dcd5f0",
      "name": "obtener_paginas",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5ffa957-3fa5-4e47-a0e8-84a5bc00feb1",
              "leftValue": "={{ $json.property_estado }}",
              "rightValue": "Listo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        864
      ],
      "id": "7cbb5966-6d30-473f-95e8-4367aac67725",
      "name": "pagina_lista?"
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        400,
        768
      ],
      "id": "b01704f3-8eac-47a1-b316-000f257f3530",
      "name": "Archive page",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_1272555718175178806"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        304
      ],
      "id": "ffffdc6d-2ea8-4a3c-a927-c53240ac593c",
      "name": "obtener_correos1",
      "webhookId": "30b46c86-bd50-4c2c-acc3-e68c8d3a1d63",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      },
      "notes": "etiqueta <Notion>"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_1272555718175178806"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        128
      ],
      "id": "e2275070-ee62-4f34-b804-ed43ec7fb340",
      "name": "obtener_correos2",
      "webhookId": "30b46c86-bd50-4c2c-acc3-e68c8d3a1d63",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      },
      "notes": "etiqueta <Notion>"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        192
      ],
      "id": "4c99b7a7-6f24-4f5c-8504-d27d41d33b55",
      "name": "Merge1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a91c6bdf-a3eb-45df-bffb-9f5e2adba3a6",
                    "leftValue": "={{ $json.from.origen }}",
                    "rightValue": "Luis.araujo@smartbotla.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Smartbotla"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e212e2b1-01fd-48d9-96bb-c45d8df314f2",
                    "leftValue": "={{ $json.from.origen }}",
                    "rightValue": "Laraujo@amapola.tech",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "amapola"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from.origen }}",
                    "rightValue": "=Luis.araujo@mobixxdrive.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3448e5a-a672-412f-bbba-9cb9a0f4d76a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mobixxdrive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee620bce-fed4-4760-8cc3-75b64e7d1402",
                    "leftValue": "={{ $json.from.origen }}",
                    "rightValue": "Lh.araujo@gmail.com ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gmail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        880,
        192
      ],
      "id": "4d501637-696f-4e4f-9af6-c92ebcfe6bfd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_1272555718175178806"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        -48
      ],
      "id": "386455c5-dc22-4bc3-bb22-353649f14463",
      "name": "obtener_correos3",
      "webhookId": "30b46c86-bd50-4c2c-acc3-e68c8d3a1d63",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      },
      "notes": "etiqueta <Notion>"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27f272c9-f6ae-80d7-868c-e8dfdec44b25",
          "mode": "list",
          "cachedResultName": "Correos Electronicos",
          "cachedResultUrl": "https://www.notion.so/27f272c9f6ae80d7868ce8dfdec44b25"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Cuerpo|rich_text",
              "textContent": "={{ $json.bloques[0].texto.split(\" \").slice(0, 30).join(\" \") + \"...\" }}\n"
            },
            {
              "key": "Correo electrónico|email",
              "emailValue": "={{ $json.from.address }}"
            },
            {
              "key": "Fecha de Envío|date",
              "date": "={{ $json.date }}",
              "timezone": "America/Buenos_Aires"
            },
            {
              "key": "Origen|select",
              "selectValue": "Lh.araujo@gmail.com"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.title }}"
            },
            {
              "textContent": "=\n{{ $json.bloques[0].texto }}"
            },
            {
              "textContent": "={{ $json.bloques[1] ? $json.bloques[1].texto : \"\" }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1200,
        480
      ],
      "id": "1fd32aca-bae7-4a58-95fe-d0a400465855",
      "name": "crear_pagina_notion",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27f272c9-f6ae-80d7-868c-e8dfdec44b25",
          "mode": "list",
          "cachedResultName": "Correos Electronicos",
          "cachedResultUrl": "https://www.notion.so/27f272c9f6ae80d7868ce8dfdec44b25"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Cuerpo|rich_text",
              "textContent": "={{ $json.bloques[0].texto.split(\" \").slice(0, 30).join(\" \") + \"...\" }}\n"
            },
            {
              "key": "Correo electrónico|email",
              "emailValue": "={{ $json.from.address }}"
            },
            {
              "key": "Fecha de Envío|date",
              "date": "={{ $json.date }}",
              "timezone": "America/Buenos_Aires"
            },
            {
              "key": "Origen|select",
              "selectValue": "Luis.araujo@smartbotla.com"
            },
            {
              "key": "Empresas/Proyectos|relation",
              "relationValue": [
                "27e272c9-f6ae-80b5-8ff5-cb6131afefe7"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.title }}"
            },
            {
              "textContent": "=\n{{ $json.bloques[0].texto }}"
            },
            {
              "textContent": "={{ $json.bloques[1] ? $json.bloques[1].texto : \"\" }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1200,
        -48
      ],
      "id": "b1f2bef6-393b-42b5-a12f-9247df7ad943",
      "name": "crear_pagina_SmartBot",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27f272c9-f6ae-80d7-868c-e8dfdec44b25",
          "mode": "list",
          "cachedResultName": "Correos Electronicos",
          "cachedResultUrl": "https://www.notion.so/27f272c9f6ae80d7868ce8dfdec44b25"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Cuerpo|rich_text",
              "textContent": "={{ $json.bloques[0].texto.split(\" \").slice(0, 30).join(\" \") + \"...\" }}\n"
            },
            {
              "key": "Correo electrónico|email",
              "emailValue": "={{ $json.from.address }}"
            },
            {
              "key": "Fecha de Envío|date",
              "date": "={{ $json.date }}",
              "timezone": "America/Buenos_Aires"
            },
            {
              "key": "Origen|select",
              "selectValue": "Laraujo@amapola.tech"
            },
            {
              "key": "Empresas/Proyectos|relation",
              "relationValue": [
                "279272c9f6ae80d58ff0f76cff1dc46d"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.title }}"
            },
            {
              "textContent": "=\n{{ $json.bloques[0].texto }}"
            },
            {
              "textContent": "={{ $json.bloques[1] ? $json.bloques[1].texto : \"\" }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1200,
        128
      ],
      "id": "11a89638-c528-40f3-9c3e-827279f40f64",
      "name": "crear_pagina_Amapola",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27f272c9-f6ae-80d7-868c-e8dfdec44b25",
          "mode": "list",
          "cachedResultName": "Correos Electronicos",
          "cachedResultUrl": "https://www.notion.so/27f272c9f6ae80d7868ce8dfdec44b25"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Cuerpo|rich_text",
              "textContent": "={{ $json.bloques[0].texto.split(\" \").slice(0, 30).join(\" \") + \"...\" }}\n"
            },
            {
              "key": "Correo electrónico|email",
              "emailValue": "={{ $json.from.address }}"
            },
            {
              "key": "Fecha de Envío|date",
              "date": "={{ $json.date }}",
              "timezone": "America/Buenos_Aires"
            },
            {
              "key": "Origen|select",
              "selectValue": "Luis.araujo@mobixxdrive.com"
            },
            {
              "key": "Empresas/Proyectos|relation",
              "relationValue": [
                "28a272c9f6ae805385f3c951f4d4c867"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.title }}"
            },
            {
              "textContent": "=\n{{ $json.bloques[0].texto }}"
            },
            {
              "textContent": "={{ $json.bloques[1] ? $json.bloques[1].texto : \"\" }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1200,
        304
      ],
      "id": "eb33c8b8-9ef6-4102-b135-dd756e38907e",
      "name": "crear_pagina_Mobixx",
      "credentials": {
        "notionApi": {
          "id": "fyQ0RqcmHkhWZLsD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cuenta:\nLuis.araujo@smartbotla.com",
        "width": 2304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -64
      ],
      "typeVersion": 1,
      "id": "24663e69-aee1-45c2-8744-27c8aa1e5602",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Cuenta:\nLaraujo@amapola.tech",
        "width": 2304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        112
      ],
      "typeVersion": 1,
      "id": "0ebf72ee-b280-4ccb-a813-e1a465465ecb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Cuenta:\nLuis.araujo@mobixxdrive.com\n",
        "width": 2304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        288
      ],
      "typeVersion": 1,
      "id": "ff3cd688-6efa-4053-9571-d0d5179dc875",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Cuenta:\nLh.araujo@gmail.com",
        "width": 2304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        464
      ],
      "typeVersion": 1,
      "id": "27d7f8b3-ea1c-4ed9-94e2-04be733f91f0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_1272555718175178806"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        -48
      ],
      "id": "2aa02633-9919-4be4-ac6c-69fe25352029",
      "name": "eliminar_<Notion>",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_6053354781676512232"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        -48
      ],
      "id": "8b61ed96-6ea9-4482-aad2-1176fc954b93",
      "name": "añadir<Listo_Notion>",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_6053354781676512232"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        480
      ],
      "id": "cd1caadd-c15a-47b9-a324-209e53e0270f",
      "name": "añadir<Listo_Notion> ",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_6053354781676512232"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        304
      ],
      "id": "43e43024-ce0b-4606-ae37-95a91c556c90",
      "name": "añadir<Listo_Notion>  ",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_6053354781676512232"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        128
      ],
      "id": "8c4c8c13-9eea-484d-874f-82daf3e38eea",
      "name": "añadir<Listo_Notion>   ",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_1272555718175178806"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        128
      ],
      "id": "6e279137-39d6-4fe0-a59d-6248e01d9053",
      "name": "eliminar_<Notion> ",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_1272555718175178806"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        304
      ],
      "id": "a209fa43-7a62-41a3-a6ae-660e02c8ee17",
      "name": "eliminar_<Notion>  ",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('simplificado_mensajes').item.json.id }}",
        "labelIds": [
          "Label_1272555718175178806"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        480
      ],
      "id": "96aebdb1-5291-432a-8ba0-13cbe096002c",
      "name": "eliminar_<Notion>   ",
      "webhookId": "32fdf7c9-67f8-43a6-a1e2-4ec125a6b50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RznvVQ1Bbv7MQqtb",
          "name": "notion_n8n"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-10-06T19:41:37.006-03:00",
          "Readable date": "October 6th 2025, 7:41:37 pm",
          "Readable time": "7:41:37 pm",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "October",
          "Day of month": "06",
          "Hour": "19",
          "Minute": "41",
          "Second": "37",
          "Timezone": "America/Argentina/Buenos_Aires (UTC-03:00)"
        }
      }
    ]
  },
  "repo_name": "Sistema_de_gestion_central_notion_n8n",
  "repo_owner": "Tomybau",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "none"
  },
  "shared": [
    {
      "createdAt": "2025-10-01T14:50:30.391Z",
      "updatedAt": "2025-10-01T14:50:30.391Z",
      "role": "workflow:owner",
      "workflowId": "tTbeL14v2yeIalL2",
      "projectId": "5ieVStNAHt1Bb6Tr"
    }
  ],
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2025-10-06T22:39:00.000Z",
      "possibleDuplicates": [
        "284272c9-f6ae-805a-aa72-d3fbb2481dbc"
      ]
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-10-15T23:16:12.194Z",
      "updatedAt": "2025-10-15T23:16:12.194Z",
      "id": "NHMeAPMIT8hmJz47",
      "name": "Notion"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-27T23:43:34.192Z",
  "versionId": "e76f8d68-c824-4b04-96fd-adf6ae434779"
}